*.gml
*.gfs
*.sql

*.pkl
*.npy

*/*.pkl
*/*.npy

.vim
.vscode
.idea

__pycache__
*/__pycache__
*/*/__pycache__

.ipynb_checkpoints
*/.ipynb_checkpoints

*.pyc
*/*.pyc
*/*/*.pyc

venv

db.config
Intersections/db.config


